@media only screen and (max-width: 530px) {
    .inputBox {
        width: 300px;
      }

    .copy {
        top: 101px;
        right: 20px;
    }

    .inputBox input, #btn {
        font-size: 18px;
    }

    .alertBox {
        font-size: 2.7em;
    }
}
